html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
*, ::after, ::before {
  box-sizing: inherit;
}
body {
  margin: 0;
  background-color: #fff;
  font-family: 'Charter', sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  font-weight: 400;
  color: #421B1B;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
  max-width: 1200px;
}

/* Type */
h1, h2, h3, h4 {
  font-weight: 600;
}
h1 {
  margin: 6rem 0 1.2rem;
  font-size: 4.8rem;
}
h2 {
  margin: 3rem 0 1.2rem;
  font-size: 3rem;
}
p {
  margin: 1.2rem 0;
}
a {
  color: #ED5645;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 1px solid #ED5645;
}
.em {
  font-weight: 600;
}

li {
  list-style: none;
}

/* Footer */
footer {
  margin: 100px 0 20px;
  font-style: italic;
  color: #ED5645;
}