/* Responsive container of the svg element */
.responsive-svg-container {
  width: 100%;
  max-width: 800px;
}

svg text {
  fill: #421B1B;
}

/* x-axis */
.domain {
  display: none;
}
.tick text {
  display: none;
}
.tick line {
  stroke: #fff;
  stroke-width: 2px;
}

/* Labels */
.labels text {
  font-style: italic;
  font-size: 2rem;
}

/* Boots */
#refugees-per-day {
  position: relative;
}
.refugees-bg {
  position: absolute;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}
/* .refugees-bg.top {
  top: 0;
  height: 400px;
  background-image: url(/assets/boots-top.svg);
}
.refugees-bg.bottom {
  bottom: 0;
  height: 200px;
  background-image: url(/assets/boots-bottom.svg);
} */